<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Ruben Cruz</h1>
		<p>Welcome to my blog.</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Instagram <a href="http://instagram.com/ssrcruz">@ssrcruz</a> or on the web at <a href="http://ssrcruz.github.io">ssrcruz.github.io</a> </p>
	</div>
</div>
